@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.tabs {
  @apply px-4 py-2 text-3xl font-semibold text-blue-600 cursor-pointer border-b-2 transition-colors duration-300;
}

.active-tab {
  @apply text-yellow-500 border-yellow-500;
}

.content {
  @apply flex flex-row items-center p-4;
}

.active-content {
  @apply block;
}


li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/vendor_assets/template_1/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/vendor_assets/template_1/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}

.highlight-border {
  border: solid 2px #FFD200;
  border-radius: 25px;
}

.download-links > div:first-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.download-links > div:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.download-links > div:hover {
  border: thick double #FFD200;
  border-style: inset;
}